/*  Start Global */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    overflow: hidden
}

ul {
    list-style: none;
    padding:0;
    margin: 0 
}

/* End Global */

/* Start Book */ 

.modal {
    font-family:sans-serif
}
		
.input-spl {
			width: 100%;
			padding: 7px;
			font-size: large;
			margin-bottom: 10px;
}

.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  /* top: 40em;*/
}

.btn:hover {
  background: #357ebd;
}

.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}

.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}

.btn-close:hover {
  color: #919191;
}

.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal:target:before {
  display: block;
}

.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

.modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  border-left: 10px solid #40c5e1;
  width: 450px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 36px;
  line-height: 35px;
  padding: 0 20px;
  font-size: 13px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-image: radial-gradient(center top, farthest-corner, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
}

.button:hover:before {
  background-image: radial-gradient(farthest-corner, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03));
}

.button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button:active:before {
  content: none;
}

.button-green {
  background: #5ca934;
  border-color: #478228 #478228 #3c6f22;
  background-image: linear-gradient(to bottom, #69c03b, #5ca934 66%, #54992f);
}
.button-green:active {
  background: #5ca934;
  border-color: #3c6f22 #478228 #478228;
}

.modal-body {
  padding: 20px;
}

.modal-header,
.modal-footer {
  padding: 10px 20px;
}

.modal-header {
  border-bottom: #eeeeee solid 1px;
}

.modal-header h2 {
  font-size: 20px;
}

.modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right;
}

#close {
  display: none;
}

/* End Book */

/* Start Logo Area */

main {
    text-align: center;
    margin-top: 5px
}

main p {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 5px
}

/* End Logo Area */

/* Start Navbar  with my overwritng bootstrap */ 

/* active link */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #da9e31;
}

/* navbar link */

.navbar-inverse .navbar-nav > li > a {
    color: #BBB
}

/* brand */

.navbar-inverse .navbar-brand {
    color: #BBB;
    padding: 0;
    padding-left: -20px
}
.navbar-inverse .navbar-brand  img {
    max-width: 55%;
}

/* dropdown */ 

.dropdown-menu {
    background-color: #333;
    font-size: 20px
}

.dropdown-menu > li > a {
    color: #FFF;
    padding: 6px 20px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #da9e31;
    color: #FFF;
    
}

/* End Navbar overwritng bootstrap  */ 

/* Start Header " Carousel " */

header {
    margin-top: -20px
}

.carousel-caption {
    bottom: 100px
}

/* End Header " Carousel " */

/* Start our service */

/*Components*/

.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
}

.tabs h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 30px
}

.tabs nav {
	text-align: center;
    background-color: #FFF;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.tabs nav ul li {
	border: 1px solid #becbd2;
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
    font-size: 20px
}

.tabs nav li.tab-current {
	border: 1px solid #f28b2f;
	box-shadow: inset 1px 2px #f28b2f;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: #f28b2f;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #becbd2;
	display: block;
	font-size: 1.45em;
	line-height: 2.5;
	padding: 0 1.25em;
}

.tabs nav a:hover {
	color: #000000;
	background: #efefef;
	transition: color 0.5s linear;
    text-decoration: none
}

.tabs nav li.tab-current a {
	color: #83a4fc;
}

.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

.tabs nav span {
    margin-right: 10px
}

/* Content */

.content section {
	font-size: 1.25em;
	padding: 3em 1em;
	display: none;
	max-width: 1230px;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #47a3da;
}

.content .content-current {
	display: block;
}

.mediabox {
	float: left;
	margin: 2%;
	width: 29.33%; /* as I have set margin 2% then width of each mediabox will be (100-(2*2*3))/3 = 29.3 */
	padding: 0 25px;
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: 2px 2px 2px #ccc;
	padding-top: 10px;
	border-left: 5px solid #675765;
	border-radius: 5px;
	padding-bottom: 10px;
	max-height: 600px;
	transition: transform linear 0.5s;
}

.mediabox:hover{
	box-shadow: 4px 4px 4px #ccc;
	transform: scale(1.1);
}
.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.mediabox:hover img{
	box-shadow: 2px 2px 3px #ccc;
}

.mediabox h3 {
	color: #47a3da;
	margin: 0.75em 0 0.5em;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	color: #555;
	line-height: 1.3;
}

.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 36px;
  line-height: 35px;
  padding: 0 20px;
  font-size: 13px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
}
.button:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-image: radial-gradient(center top, farthest-corner, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
}
.button:hover:before {
  background-image: radial-gradient(farthest-corner, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03));
}
.button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button:active:before {
  content: none;
}

.button-green {
  background: #5ca934;
  border-color: #478228 #478228 #3c6f22;
  background-image: linear-gradient(to bottom, #69c03b, #5ca934 66%, #54992f);
}
.button-green:active {
  background: #5ca934;
  border-color: #3c6f22 #478228 #478228;
}

.button-red {
  background: #d5452f;
  border-color: #ae3623 #ae3623 #992f1f;
  background-image: linear-gradient(to bottom, #da5c48, #d5452f 66%, #c73d28);
}
.button-red:active {
  background: #d5452f;
  border-color: #992f1f #ae3623 #ae3623;
}

.button-blue {
  background: #1097e6;
  background-image: linear-gradient(to bottom, #25a5f0, #1097e6 66%, #0f8ad3);
}
.button-blue:active {
  background: #1097e6;
  border-color: #0b689e #0d78b6 #0d78b6;
}

.button-orange {
  background: #f4902a;
  border-color: #df770c #df770c #c76a0a;
  background-image: linear-gradient(to bottom, #f69f47, #f4902a 66%, #f38617);
}
.button-orange:active {
  background: #f4902a;
  border-color: #c76a0a #df770c #df770c;
}

.button-pink {
  background: #e8367f;
  border-color: #d31865 #d31865 #bc165a;
  background-image: linear-gradient(to bottom, #eb5190, #e8367f 66%, #e62473);
}
.button-pink:active {
  background: #e8367f;
  border-color: #bc165a #d31865 #d31865;
}

.button-gray {
  background: #47494f;
  border-color: #2f3034 #2f3034 #232427;
  background-image: linear-gradient(to bottom, #55585f, #47494f 66%, #3d3f44);
}
.button-gray:active {
  background: #47494f;
  border-color: #232427 #2f3034 #2f3034;
}

.button-darkblue {
  background: #3b5ca0;
  border-color: #2d477b #2d477b #263c68;
  background-image: linear-gradient(to bottom, #4369b6, #3b5ca0 66%, #365391);
}
.button-darkblue:active {
  background: #3b5ca0;
  border-color: #263c68 #2d477b #2d477b;
}

.button-purple {
  background: #9966cb;
  border-color: #8040be #8040be #733aab;
  background-image: linear-gradient(to bottom, #a87dd3, #9966cb 66%, #8f57c6);
}
.button-purple:active {
  background: #9966cb;
  border-color: #733aab #8040be #8040be;
}

/* End our service */


/* Start our Team */

.our_team {
    background:url('../images/team.jpg')no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    min-height: 500px
}

.our_team .team {
    background:rgba(2,2,2,0.6);
    color: #FFF;
    min-height: 500px;
    padding-bottom: 40px;
    padding-top: 40px
}

.our_team h1 {
    margin-bottom: 60px
}

.our_team .person {
    margin-bottom: 40px
}

.our_team .person img {
    width:50%;
}

.our_team .person h3 {
    color: #da9e31
}

/* End our Team */

/* Start Projects */

.projects {
    padding: 30px 0;
    background-color:#E4E4E4
}

.projects h2 {
    text-align: center;
    font-weight:normal;
    font-size: 40px
}

.projects .gallery {
    margin-top: 50px;
    overflow: hidden
}


.projects .gallery img,
.projects .gallery .text{
    width:25%;
    float: left;
    margin-top: 0
}

.projects .gallery .text {
    height: 341px;
    text-align: center;
    background-color: #FFF;
    
}

.projects .gallery .text h5 {
    color: darkgoldenrod;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 30px
}

.projects .gallery .text p {
    color: #6B6B91;
    line-height: 1.5;
    font-size: 20px;
    padding: 10px
}


.projects .gallery .text button {
    background:none;
    
    font-size:20px;
    border:2px solid #000;
    font-weight:bold;
    padding:10px 30px;
    color:#000;
}



/* End Projects */

/* Start Footer */

footer {
    background-color: #232323;
    color: #6C6C6C;
    padding: 40px 0;
    overflow: hidden
}


footer .col {
    width: 25%;
    float: left
}

footer .col li a {
    color:#FFF;
    text-decoration: none
}

footer .col li a:hover{
    color:#da9e31;
}

footer .col h2 {
    color:#FFF;
    font-family: serif;
    font-weight: normal;
    font-size: 20px
}


footer .blog ul li {
    padding: 15px;
    border-bottom: 1px solid #979797;
    color:#CCC;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px
}

footer .social {
    text-align: center;
    margin-top: 10px
}

footer .social li {
    display: inline-block;
    color:#979797;
    border: 1px solid #979797;
    width: 50px;
    padding: 7px;
    margin-top: 20px;
}

footer .social li a:hover {
    color:#da9e31;
}

footer .social li a {
    color:#FFF;
    text-decoration: none
}

footer .copyright {
    margin-top: 15px;
    text-align: center
}

/* End Footer */

/* Start Loading */

.loading-overlay {
    background: #1ABC9C;
    color: #FFF;
    position:fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 99999
}

.spinner {
  margin: 300px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #FFF;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/* End Loading */